
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
/* font-family: 'Cedarville Cursive', cursive; */
*{
    padding: 0;
    margin: 0;
}
body, html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #141626 !important; */
    background-color: #0b0b15;
    /* color: #d0d4e7; */
    color: var(--bs-gray-400);
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    width: 100%;
    --scrollbarBG: #0b0b15;
    --thumbBG: #2c2c3fdb;
}
body::-webkit-scrollbar {
    width: 11px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
:root {
    /* Booostrap Variable */
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    /* End Booostrap Variable */
    --bg-shadow: #161621;
    --bg-shadow-light: #cbcbcbf5;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --border-border: 0.8px solid #151521;
    --border-border-light: 0.8px solid #e8e8e8;
    /* --border-radius: 6px; */
    --border-radius: 4px;
    /* --bg-color: #13131e; */
    --bg-color: #161621;
    --bg-color-light: #f8f9f9f7;
    --txt-color: var(--bs-gray-400);
    --txt-color-light: var(--bs-gray-dark);
    --font-size: 18px;
    --font-size-2: 16px;
    --font-weight: 400;
    --bg-padding: 14px;
    --font-family1: 'Inter', sans-serif;
    --font-family2: 'Poppins', sans-serif;
}
/* Dark & Light Mode */
.dark-mode {
    background-color: var(--bs-gray-100);
    color: #000;
}
.dark-mode a {
    color: #000 !important;
}
.dark-mode p{
    color: var(--bs-gray-dark) !important;
}
.dark-mode #p{
    color: var(--bs-gray-dark) !important;
}
#myBtn2{
    margin-top: 0.2rem;
   font-size: 14px;
}
.dark-mode .bi-brightness-high{
    color: orangered;
}
.dark-mode #mode::before{
    content: "Light";
}
.dark-mode #mode::after{
    content: "";
}
#mode::after{
    content: "Dark";
}
.dark-mode #about{
    background-color: var(--bs-gray-100) !important;
}
.dark-mode .resume{
    color: var(--bs-dark) !important;
    background-color: var(--bs-gray-100) !important;
}
.dark-mode .resume:hover{
    color: var(--bs-light) !important;
    background-color: var(--bs-dark) !important;
}
.dark-mode .navbar {
    background-color: #f8f9faac !important;
}
.dark-mode .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10'  d='M4 8h24M4 16h24M4 24h24'/></svg>");  
}
.dark-mode .nav-hr{
    color: var(--bs-gray-800);
}
.dark-mode #mobile-menu{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.8) !important;
}
.dark-mode .nav-link{
    color: var(--bs-dark);
}
.dark-mode .nav-link:hover{
    color: purple !important;
    /* text-decoration: underline; */
}
.dark-mode .navbar-brand{
    color: var(--bs-gray-dark);
}
.dark-mode .hi{
    color: var(--bs-gray-dark);
}
.dark-mode .intro{
    color: var(--bs-gray-dark) !important;
}
.dark-mode #more-about-me-2{
    color: var(--bs-gray-dark);
    background-color: var(--bs-gray-100);
    font-family: var(--font-family1);
    font-size: small;
    font-weight: 500;
    margin-top: 1rem;
    border: 2px solid var(--bs-gray-dark);
}
.dark-mode #more-about-me-2:hover{
    color: var(--bs-light) !important;
    background-color: var(--bs-dark) !important;
    margin-left: 5px;
    border: 0 !important;
    font-weight: 600;
    transition: all 0.5s ease-in-out !important;
    border: 2px solid var(--bs-dark) !important;
}
.dark-mode .img-fluid{
    border: 1px solid var(--bs-gray-500);
}
.dark-mode .skill{
    border: var(--border-border-light);
    box-shadow: 0 0 30px -15px var(--bg-shadow-light);
    background-color: var(--bg-color-light);
    color: var(--txt-color-light);
}
.dark-mode .skill h6{
    color: var(--bs-gray-dark) !important;
}
.dark-mode #project {
    background-color: var(--bs-gray-100);
}
.dark-mode .project-item {
    border: var(--border-border-light);
    box-shadow: 0 0 30px -15px var(--bg-shadow-light);
    background-color: var(--bg-color-light);
    color: var(--txt-color-light);
}
.dark-mode .overview{
    color: var(--bs-gray-dark);
}
.dark-mode .stretched-link{
    border-bottom: 1px solid #000 !important;
}
.dark-mode .stretched-link:hover{
    color: darkcyan !important;
    border-bottom: 1px solid darkcyan !important;
}
.dark-mode .show-more-less{
    background-color: var(--bs-gray-100) !important;
    color: var(--bs-gray-dark-dark) !important;
    border-color: var(--bs-gray-dark) !important;
}
.dark-mode .show-more-less:hover{
    color: var(--bs-light) !important;
    background-color: var(--bs-dark) !important;
    border-color: var(--bs-dark) !important;
    transition: all 0.5s ease-in-out;
}
.dark-mode .project-details-title{
    color: var(--bs-gray-900);
}
.dark-mode .project-details-title span{
    border-bottom: 1px solid var(--bs-gray-900);
}
.dark-mode .project-details-content-tittle{
    color: var(--bs-gray-dark);
}
.dark-mode .learn{
    color: var(--bs-gray-dark);
}
.dark-mode .live-link{
    color: var(--bs-light) !important;
}
.dark-mode .backtohome:hover{
    color: darkcyan !important;
    border-bottom: 0.5px solid darkcyan !important;
}
/* .dark-mode .bi-moon-fill{
    color: var(--bs-dark);
}
.dark-mode .bi-moon-fill:hover{
    color: palevioletred !important;
    transition: all 0.5s ease-in-out;
} */
.dark-mode .hr-footer{
    color: var(--bs-gray-600) !important;
}
.dark-mode #hero-social-links a{
    color: var(--bs-gray-dark);
}
.dark-mode #hero-social-links a:hover{  
    font-weight: bold;
    color: purple !important;
}
.dark-mode #credit p{
    color: var(--bs-gray-dark) !important;
}
.dark-mode #source a{
    color: var(--bs-gray-dark) !important;
}
#source a:hover{
    color: purple !important;
    border-bottom: 1px solid purple !important;
}
.dark-mode #sayhello{
    font-family: var(--font-family1);
    /* color: var(--bs-dark-500); */
    color: var(--bs-dark);
    background-color: var(--bs-gray-100);
    /* border: 1px solid var(--bs-gray-400); */
    border: 1px solid var(--bs-dark);
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
}
.dark-mode #sayhello:hover{
    border: 1px solid var(--bs-gray-dark);
}
.dark-mode .card{
    background-color: var(--bs-gray-100) !important;
}
.dark-mode #medium-blog-link{
    font-size: small;
    border-bottom: 1px solid var(--bs-gray-900) !important;
}
.dark-mode #medium-blog-link:hover{
    color: purple !important;
    border-bottom: 1px solid purple !important;
}
.dark-mode .card-body > h5 > a:hover {
    color: purple !important;
    border-bottom: 1px solid purple !important;
}
.dark-mode #read-more:hover{
    color: purple !important;
    border-bottom: 1px solid purple !important;
 }
 .dark-mode #hr-blog-item{
    color:rgb(0, 0, 0);
    background-color:rgb(0, 0, 0);
}
.dark-mode #Preloader {
    background-color: var(--bs-gray-100);
}
.dark-mode .btn{
    font-size: small;
    color: var(--bs-dark);
    color: var(--bs-gray-400);
    /* background-color: #0b0b15; */
    background-color: var(--bs-gray-100);
    margin-bottom: 2rem;
    border: 1px solid var(--bs-gray);
    border-radius: 60px;
    text-align: center;
}
.dark-mode .btn:hover{
    background-color: var(--bs-dark) !important;
    color: var(--bs-light) !important;
    border: 1px solid var(--bs-dark) !important;
}
.dark-mode #photography-title span {
    color: var(--bs-dark);
    border-bottom: 2px solid var(--bs-dark);
}
.dark-mode .breadcrumb-item a:hover{
    color: purple !important;
}
.dark-mode .breadcrumb-item.active {
    color: rgb(27, 134, 75);
}
.dark-mode .post-date{
    color: var(--bs-gray-800);
    font-size: small;
    font-family: 'Nunito Sans', sans-serif;
}
.dark-mode .post-date span{
    color: var(--bs-gray-800);
    font-family: 'Nunito Sans', sans-serif;
    border-bottom: 1px solid;
}
.dark-mode #post-content-head{
    color: var(--bs-gray-900);
}
.dark-mode #post-content{
    color: var(--txt-color-light) !important;
}
.dark-mode #post-link{
    color: purple !important;
    border-bottom: 0.5px solid purple !important;
}
.dark-mode #post-link:hover{
    color: var(--bs-pink) !important;
    border-bottom: 1px solid var(--bs-pink) !important;
}
.dark-mode #myBtn {
    background-color: #18182ae1 !important;
    color: white;
}
.dark-mode #myBtn:hover {
    background-color: #18182aaf !important;
}
.dark-mode #blog-title {
    color: var(--bs-dark);
}
.dark-mode #error {
    margin-top: 0;
}
.dark-mode #animation-light{
    margin-top: 3.5rem;
    padding: 0.5rem;
}
.dark-mode #error-p-2 {
    color: var(--bs-primary) !important;
}
/* End Dark & Light Mode */
.navbar-brand{
   color: var(--bs-gray-400);
   font-weight: bold;
   font-family: 'Cedarville Cursive', cursive;
   padding-inline: 4px;
   font-size: 28px;
}
.navbar-brand:hover{
    color: var(--bs-gray-500);
    border-bottom: none;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
}
.navbar-toggler{
    color: rgba(161, 161, 161, 0.13);
    border: 1px solid rgba(223, 223, 223, 0);
    border-radius: 6px;
    padding: 2px 3px 2px 3px;
}
#mobile-menu{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(240, 240, 240, 0.8) !important;
}
.navbar-toggler-icon{
    /* background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(240, 240, 240, 0.8)' stroke-width='3' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 24h24'/></svg>");   */
    
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(240, 240, 240, 0.8)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10'  d='M4 8h24M4 16h24M4 24h24'/></svg>");  
}
.navbar-toggler-icon:hover{
    transition: all 0.5s ease-in-out;
}
.navbar{
    --bs-navbar-toggler-font-size: 1rem;
    --bs-navbar-toggler-border-radius: 0rem;
    background-color: #0b0b15df !important;
    backdrop-filter: blur(10px) !important;
    --bs-navbar-toggler-focus-width: 0.1rem;
    scroll-behavior: smooth !important;
}
.nav-item{
    padding: 0.5rem;
}
.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: var(--font-weight);
    color: var(--bs-gray-400);
}
.nav-link:hover{
    /* color: var(--bs-gray-500); */
    /* color: mediumaquamarine; */
    color: plum;
    /* text-decoration: underline; */
    /* text-decoration-color: var(--bs-gray-500); */
    text-decoration-color: plum;
    font-weight: 400;
    border-bottom: none;
    transition: all 0.5s ease-in-out;
}
/* #nav-contact{
    color: var(--bs-gray-400);
    border-radius: 25px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border: 1px solid var(--bs-gray-400);
}
#nav-contact:hover{
    color: var(--bs-gray-600);
    text-decoration: underline;
    text-decoration-color: var(--bs-gray-600);
    background-color: lavender;
    transition: all 0.3s ease-in-out;
} */
.nav-hr{
    color: var(--bs-gray-400);
}
/* .bi-moon-fill {
    color: var(--bs-primary);
} */
.bi-brightness-high{
    color: var(--bs-info);
}
.bi-brightness-high:hover{
    color: palevioletred;
}
#mode{
    font-style: normal;
}
#mode:hover{
    color: palevioletred;
}
p{
    color: var(--bs-gray-400);
    font-weight: var(--font-weight);
}
#p{
    color: var(--bs-gray-400);
    font-weight: var(--font-weight);
}
a {
    text-decoration: none;
    color: var(--bs-gray-300);
    font-weight: var(--font-weight);
}
.link {
    position: relative;
    transition: -webkit-clip-path 275ms ease;
    transition: clip-path 275ms ease;
    transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
  }
.link:hover span::before, .link:focus span::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.link span {
    position: relative;
    display: inline-block;
    /* color: #f8f9fa; */
    color: #000;
}
.link span::before {
    position: absolute;
    content: attr(data-content);
    color: var(--bs-dark);
    text-decoration: underline;
    -webkit-text-decoration-color: #ffffff;
            text-decoration-color: var(--bs-dark);
    -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
            clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: -webkit-clip-path 275ms ease;
    transition: clip-path 275ms ease;
    transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
} 
.container{
    width: 100%;
}
/* section{
    padding: 50px 8%;
    padding: 90px 10%;
    margin: 0 auto;
    scroll-margin-top: 60px;
} */
section{
    scroll-margin-top: 80px;
    min-height: 5em;
    /* padding: 100px 0.9%; */
    padding: 100px 0.9%;
}
.col-lg-4{
    padding-bottom: 1rem;
}
.col-lg-6{
    padding-left: 0;
    padding-right: 0;
}
.col-lg-8{
    text-align: none;
}
#container-width{
    width: 60%;
}
.title-underline{
    color: cadetblue;
    padding-inline: 5px;
    border-bottom: 2px solid var(--bs-gray);
    border-radius: 0;
    font-weight: bold;
    font-size: 21px;
}
#home{
    padding-top: 16rem;
}
.home-content{
    font-size: 20px;
    width: 99%;
    font-weight: 400;
}
.hi{
    font-family: var(--font-family1);
    font-weight: bold;
    font-size: 30px;
    color: var(--bs-gray-400);
}
#name{
    font-family: var(--font-family2);
    font-weight: 600;
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: cadetblue;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 6px;
}
.intro{
    font-family: var(--font-family1);
    font-size: 28px;
    font-weight: bold !important;
    color: var(--bs-gray-400);
}
.fa-laptop-code{
    color: var(--bs-gray);
}
.hero-social-links{
    margin-top: 2rem;
}
#hero-social-links a{
    color: var(--bs-gray-400);
    padding: 0.2rem;
    font-size: medium;
    font-weight: 500;
}
#hero-social-links a:hover{  
    font-weight: bold;
    color: pink;
    transition: all 0.5s ease-in-out;
}
#more-about-me-2{
    background-color: rgb(21, 21, 21);
    font-family: var(--font-family1);
    font-size: small;
    font-weight: 500;
    margin-top: 1rem;
    color: var(--bs-gray-400);
    background-color: #070b1b ;
    border: 2px solid var(--bs-gray-400);
}
#more-about-me-2:hover{
    color: var(--bs-dark);
    background-color: var(--bs-light) !important;
    margin-left: 5px;
    border: 0 !important;
    font-weight: 600;
    transition: all 0.5s ease-in-out !important;
    border: 2px solid var(--bs-gray-200) !important;
}
#about{
    background-color: #0e0e19ef;
}
.about{
    text-align: justify;
    font-family: var(--font-family1);
    font-weight: var(--font-weight);
    padding-left: 0;
    margin-left: 0;
    padding-top: 1rem;
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.about_pic img{
    margin-top: 2rem;
    opacity: 0.9;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,0, 0);
	transform: translate3d(0,0,0);
}
.about_pic img:hover{
     opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-15px, 0);
	transform: translate3d(0,-15px,0);
}
.resume{
    font-family: var(--font-family1);
    margin-top: 2rem;
    margin-bottom: 0 !important;
}
.skill{
    font-family: var(--font-family1);
    font-weight: var(--font-weight) !important;
    padding-left: 0;
    padding-top: 1rem;
    border: var(--border-border);
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#skill h6{
    padding-bottom: 0.5rem;
    color: var(--bs-gray-400);
    font-weight: var(--font-weight) !important;
    font-size: var(--font-size);
}
/* Project */
#project{
    background-color: #0e0e19ef;
}
.project{
    font-family: var(--font-family1);
    font-size: var(--font-size);
    color: var(--txt-color);
    font-weight: var(--font-weight) !important;
}
.project-item{
    font-family: var(--font-family1);
    font-weight: var(--font-weight);
    border: var(--border-border);
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project-item:hover{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: scale(1.04);
}
.stretched-link{
    border-bottom: 1px solid var(--bs-gray-400);
}
.stretched-link:hover{
    pointer-events: pointer;
    /* border-bottom: 1px solid palevioletred;
    color: palevioletred; */
    border-bottom: 1px solid plum;
    color: plum;
}
/* .project2{
    font-family: var(--font-family1);
    font-weight: var(--font-weight) !important;
    border: var(--border-border);
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
/* .project3{
    font-family: var(--font-family1);
    font-weight: var(--font-weight) !important;
    border: var(--border-border);
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
/* .project4{
    font-family: var(--font-family1);
    font-weight: var(--font-weight) !important;
    border: var(--border-border);
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
/* .project5{
    font-family: var(--font-family1);
    font-weight: var(--font-weight) !important;
    border: var(--border-border);
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
.show-more-less{
    background-color: #0b0b15 !important;
    color: var(--bs-light) !important;
    border-radius: 20px !important;
    border-color: var(--bs-gray) !important;
    margin-left: 0.1rem;
    font-weight: 600 !important;
}
.show-more-less:hover{
    color: var(--bs-light);
    background-color: var(--bs-light);
    border-color: var(--bs-gray-dark) !important;
    transition: all 0.5s ease-in-out;
}
.high_light{
    font-size: small;
    color: var(--bs-gray-400);
    font-size: 300;
}
.high_light span{
    margin-inline-end: 8px;
    border-bottom: 1px solid var(--bs-gray);
}
.high_light_2{
    border-bottom: none !important;
}
.overview{
    color: var(--bs-gray-400);
    margin-top: 2rem;
}
/* Project Details Page */
#project-details{
    font-weight: var(--font-weight) !important;
}
.project-details{
    border-radius: var(--border-radius);
    width: 65%;
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: var(--bg-padding);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.1rem;
}
.project-details-title{
    color: var(--bs-gray-400);
}
.project-details-title-2{
    padding-bottom: 1rem;
    font-size: small;
    font-style: italic;
}
.project-details-title span{
    border-bottom: 1px solid var(--bs-gray-400);
}
/* .img-fluid{
    border: 1px solid var(--bs-gray-500);
} */
.project-details-content-tittle{
    color: var(--bs-gray-400);
    font-weight: bold;
    margin-bottom: 2rem;
}
.learn{
    color: var(--bs-gray-400);
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.live-link{
    margin-right: 3px;
    margin-top: 2rem;
    font-size: small;
}
.live-link:hover{
    color: var(--bs-purple) !important;
}
.github-link{
    margin-left: 3px;
    margin-top: 2rem;
}
.github-link:hover{
    color: var(--bs-purple) !important;
}
.backtohome{
    font-size: small;
}
.backtohome:hover{
    color: darkcyan;
    border-bottom: 0.5px solid darkcyan;
}
.bi-arrow-left{
    font-size: small;
}
/* Blog Page Home */
#blog-home{
    padding-top: 8rem;
    padding-bottom: auto;
}
#container-width-4{
    width: 50%;
}
.blog_home_page_title{
    color: var(--bs-gray-400);
}
#blog-intro{
    color: var(--bs-gray-400);
    font-size: medium;
}
#medium-blog{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#medium-blog-link{
    font-size: small;
    border-bottom: 1px solid var(--bs-gray-400);
}
#medium-blog-link:hover{
    color: plum;
    border-bottom: 1px solid plum;
    transition: all 0.5s ease-out;
}
/* #blog-list-name{
    font-weight: bold;
    color: var(--bs-gray-500);
}
#blog-list-name span{
    border-bottom: 1px solid var(--bs-gray);
} */
#hr-blog-item{
    height: 1px;
    border-width:0;
    color:rgb(255, 255, 255);
    background-color:rgb(255, 255, 255);
}
.bi-caret-right{
    color: var(--bs-red);
}
.card{
    background-color: #0b0b15;
    margin-bottom: 2rem;
    border: 0;
}
.card-body{
    padding-top: 0;
    padding-bottom: 0;
}
.card-body > h5 > a {
    color: var(--bs-gray-400);
    font-weight: bold;
}
.card-body > h5 > a:hover {
    color: mediumaquamarine;
    border-bottom: 2px solid mediumaquamarine;
    transition: all 0.5s ease-in-out;
}
.card-text{
    font-size: medium;
}
.card-text p{
    color: var(--bs-gray-400);
}
.card-body p > a{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 14px;
    border: 1px solid var(--bs-gray-400);
}
#blog_list_img{
    height: 250px;
}
#blog-back-home{
    color: var(--bs-pink);
}
#blog-back-home:hover{
    border-bottom: 1px solid var(--bs-pink);
    transition: all 0.3s ease-in-out;
}
.bi-arrow-left-short{
    color: var(--bs-pink);
}
#read-more{
   color: var(--bs-gray-400);
   font-family: var(--font-family1);
   font-size: small;
}
#read-more:hover{
    margin-left: 0.4rem;
    color: plum;
    border-bottom: 1px solid plum;
    transition: all 0.5s ease-in-out;
}
.first-blog-title{
    padding-top: 2rem;
}
.second-blog-title{
    padding-top: 1rem;
}
.third-blog-title{
    padding-top: 1rem;
    padding-bottom: 22rem;
}
.btn{
    font-size: small;
    color: var(--bs-dark);
    color: var(--bs-gray-400);
    background-color: #0b0b15;
    margin-bottom: 2rem;
    border: 1px solid var(--bs-gray);
    border-radius: 60px;
    text-align: center;
}
.btn:hover{
    background-color: var(--bs-gray-300) !important;
    color: var(--bs-dark) !important;
    border: 1px solid rg !important;
}
/* Blog First Post Page */
#blog-first-post{
    padding-top: 8rem;
}
#hr-post{
    color: var(--bs-light);
}
.dark-mode #hr-post{
    color: var(--bs-dark);
}
.breadcrumb-item{
    font-weight: bold;
}
.breadcrumb-item a:hover{
    /* color: var(--bs-pink); */
    color: plum;
}
.breadcrumb-item.active {
    /* color: #60cfa2; */
    color: mediumaquamarine;
}
#blog-title{
    font-family: var(--font-family2);
    color: var(--bs-gray-400);
}
#blog-title h4{
    font-family: var(--font-family2);
    font-size: 21px;
}
.post-date{
    color: var(--bs-gray-400);
    font-size: small;
    font-family: 'Nunito Sans', sans-serif;
}
.post-date span{
    color: var(--bs-gray-400);
    font-family: 'Nunito Sans', sans-serif;
    border-bottom: 1px solid;
}
#post-content-head{
    font-size: 18px;
    color: var(--bs-gray-300);
    font-family: var(--font-family2);
}
#post-content{
    color: var(--txt-color) !important;
    font-family: var(--font-family-1);
    font-size: var(--font-size-2);
}
#post-link{
    font-size: small;
    /* color: var(--bs-pink);
    border-bottom: 0.5px solid var(--bs-pink); */
    color: plum;
    border-bottom: 0.5px solid plum;
}
#post-link:hover{
    /* color: rgb(1, 167, 167);
    border-bottom: 1px solid rgb(1, 167, 167); */
    color: pink;
    border-bottom: 1px solid pink;
    transition: all 0.3s ease-in-out;
}
/* Contact  */
#contact{
    font-family: var(--font-family1);
    font-weight: var(--font-weight);
}
.contact{
    font-family: var(--font-family1);
    font-weight: var(--font-weight) !important;
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#container-width-2{
    width: 85%;
}
#p-justify{
    text-align: justify;
}
#contact-linkedin{
    border-bottom: 1px solid var(--bs-gray);
}
#contact-linkedin:hover{
    color: cadetblue;
    border-bottom: 1px solid cadetblue;
    transition: border-bottom 0.5s ease;
}
.sayhello{
    margin-top: 2rem;
}
#sayhello{
    font-family: var(--font-family1);
    /* color: var(--bs-dark-500); */
    color: #000;
    background-color: mediumseagreen;
    /* border: 1px solid var(--bs-gray-400); */
    border: 1px solid mediumseagreen;
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
}
#sayhello:hover{
    font-size: 16px;
    /* color: var(--bs-dark); */
    background-color: var(--bs-teal);
    border: 2px solid var(--bs-teal);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

/* Photography Page */
#photography{
    margin-top: 0rem;
}
#photography-title span{
    color: var(--bs-gray-400);
    border-bottom: 2px solid var(--bs-gray-400);
}
#img-photo-blog .img-fluid{
    width: 500px;
    height: auto;
    border: 1px solid var(--bs-gray-200);
}
#last-update{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#photography-back-home{
    color: var(--bs-pink);
}
#photography-back-home:hover{
    color: var(--bs-teal);
    border-bottom: 1px solid var(--bs-teal);
} 
/* Privacy Modal */
.privacy_policy_info{
    background-color: var(--bs-success) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Privacy Page */
#privacy-home{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#container-privacy{
    width: 75%;
}
#hr-privacy{
    color: var(--bs-gray-dark);
}
#privacy-policy-title span{
    border-bottom: 1px solid var(--bs-gray-dark);
}
.privacy-content{
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#privacy-link{
    border-bottom: 1.5px solid var(--bs-gray);
}
#privacy-update span{
    font-size: small;
    font-family: monospace;
    border-bottom: 1px solid var(--bs-gray);
}
#privacy a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    border-bottom: 1px solid var(--bs-gray);
}
#privacy a:hover{
    transition: all 0.5s ease-in-out;
    color: pink;
    border-bottom: 1px solid pink;
}
/* Footer */
#footer{
    margin: 0;
    padding: 0;
    padding-bottom: 0.8rem;
}
.hr-footer{
    color: var(--bs-gray-400);
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
.bi-linkedin{
    padding: 0.3rem;
}
.bi-instagram{
    padding: 0.3rem;
}
.bi-github{
    padding: 0.3rem;
}
.bi-twitter{
    padding: 0.3rem;
}
.footer a{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 0.99rem;
    color: var(--bs-gray-400);
}
.footer a:hover{
    color: var(--bs-light);
    transition: all 0.5s ease-in-out;
}
#credit p{
    line-height: 0.1rem;
    color: var(--bs-gray-400);
    font-size: medium;
}
#source a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#source a:hover{
    font-weight: 500;
    color: pink;
    border-bottom: 1px solid pink;
}
/* Back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    /* background-color: #242424cf; */
    background-color: #18182ac5;
    backdrop-filter: blur(10px) !important;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
}
#myBtn:hover {
    /* background-color: #2d2d2dcf; */
    background-color: #2c2c3fa4;
    backdrop-filter: blur(10px) !important;
}
.bi-hand-index-thumb-fill{
    color: var(--bs-orange);
}
.bi-hand-index-thumb-fill:hover{
    color: var(--bs-yellow);
}
/* Preloader */
#Preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: #0b081b; */
    background-color: #0b0b15;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
}
#Preloader img{
    width: 5rem;
}
.loader {
    visibility: hidden;
    opacity: 0;
}
/* 404 Html Page */
#error{
    margin-top: 4rem;
    padding-bottom: 16rem;
    color: var(--bs-light);
}
#error-p{
    color: var(--bs-gray-400);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
/* Media Query */
@media(max-width:992px){
    #container-width{
        width: 100%;
    }
    .home-content{
        width: 80%;
    }
    .footer p{
        text-align: center;
    }
    ul{
        margin-left: 5rem;
        margin-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .project-details{
        width: 92%;
        padding-top: 2rem;
    }
}

@media(max-width:576px) {
    body, html{
        font-size: 0.9rem;
        font-weight: 300;
    }
    .navbar-collapse{
        border: 0.5px solid #171723df;
        border-radius: 5px;
        margin-top: 0.2rem;
    }
    .dark-mode .navbar-collapse{
        border: 0.5px solid #eaeaeadf;
    }
    ul{
        text-align: center;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        padding: auto;
    }
    #home{
        padding-top: 10rem;
    }
    .home-content{
        text-align: start !important;
        font-weight: 400;
        width: 98%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    #more-about-me-2{
        font-size: 11.5px;
    }
    #about h3{
        margin-left: 0;
    }
    .about_pic img{
        margin-top: 1rem;
    }
    #resume{
        text-align: center !important;
    }
    #skill h3{
        margin-left: 0;
    }
    .view-all a{
        font-weight: 400;
        font-size: small;
    }
    #blog-first-post, #blog-second-post, #blog-third-post{
        margin-right: 0rem;
    }
    #blog-intro{
        text-align: justify;
    }
    .footer p{
        text-align: center;
    }
    #error{
        padding-top: 6rem;
        padding-bottom: auto;
    }
    #about h3, #skill h3, #project h3, #blog h3, #contact h3{
        text-align: center;
    }
    .show-more-less{
        font-size: 0.8rem
    }
    .project-details{
        width: 96%;
        padding-top: 2;
    }
    #container-width-2{
        width: 96%;
    }
    #container-width-3{
        width: 96%;
    }
    #container-width-4{
        width: 100%;
    }
    #container-privacy{
        width: 100%;
    }
    #ul-start > ul > li{
        text-align: start !important;
    }
}