@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Cabin', sans-serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
/* font-family: 'Roboto', sans-serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* font-family: 'Poppins', sans-serif; */
*{
    padding: 0;
    margin: 0;
}
body, html{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #141626 !important;
    color: #d0d4e7;
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    width: 100%;
}
:root {
    --bs-teal: #20c997;
    --bs-white: #fff;
    --bs-light: #f8f9fa;
    --bs-gray: #6c757d;
    --bs-dark: #212529;
    --bs-primary: #0d6efd;
    --bs-success: #198754;
    --bg-shadow: rgba(2,12,27,0.7);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --border-radius: 20px;
    /* --bg-color: #1b1e30; */
    --bg-color: #161829e0;
    --txt-color: #D0D4E7;
    --font-size: 17px;
    --font-weight: 400;
    /* --bg-padding: 16px; */
    --bg-padding: 18px;
}
.navbar-brand{
   color: #f8f9fae7;
   font-weight: bold;
   /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
   border-radius: 4px;
   padding-inline: 4px;
}
.navbar-brand:hover{
    color: var(--bs-gray) !important;
    border-bottom: none;
}
.navbar-toggler{
    color: rgba(161, 161, 161, 0.13);
    /* border: 1px solid rgba(223, 223, 223, 0.847); */
    /* border: 2px solid rgba(223, 223, 223, 0.847); */
    
    border-radius: 4px;
    /* border-radius: 16px; */

    padding: 1px 2px 1px 2px;
    /* padding: 2px 3px 2px 3px; */
}
.navbar-toggler-icon{
        /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(210, 210, 210, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); */
        
        /* background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(23, 255, 188, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>"); */

        background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(23, 255, 200, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");

}
.navbar{
    --bs-navbar-toggler-font-size: 1rem;
    --bs-navbar-toggler-border-radius: 0rem;
    /* background-color: #141626d4 !important; */
    background-color: #141626a8 !important;
    backdrop-filter: blur(10px) !important;
    /* box-shadow: 0 2px 2px -2px rgba(219, 219, 219, 0.452); */

    /* box-shadow: 0 2px 2px -2px rgba(113, 113, 113, 0.267); */

    --bs-navbar-toggler-focus-width: 0.1rem;
}
.nav-link {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: large;
    /* font-weight: 300; */
    font-weight: var(--font-weight);
    color: #d0d4e7;
}
.nav-link:hover{
    font-size: medium;
    font-weight: 400;
    color: aliceblue;
    border-bottom: none;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid #efe148e8;
}
.nav-hr{
    color: #eaebeb;
}
p{
    font-weight: var(--font-weight);
}
#p{
    color: #D0D4E7;
    /* font-weight: 300; */
    font-weight: var(--font-weight);
}
a {
    text-decoration: none;
    color: #e7ebed;
    font-weight: var(--font-weight);
}
.link {
    position: relative;
    transition: -webkit-clip-path 275ms ease;
    transition: clip-path 275ms ease;
    transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
  }
.link:hover span::before, .link:focus span::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.link span {
    position: relative;
    display: inline-block;
    color: #f8f9fa;
}
.link span::before {
    position: absolute;
    content: attr(data-content);
    color: #f8f9fa;
    text-decoration: underline;
    -webkit-text-decoration-color: #ffffff;
            text-decoration-color: var(--bs-teal);
    -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
            clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: -webkit-clip-path 275ms ease;
    transition: clip-path 275ms ease;
    transition: clip-path 275ms ease, -webkit-clip-path 275ms ease;
} 
.container{
    width: 100%;
}
/* section{
    padding: 50px 8%;
    padding: 90px 10%;
    margin: 0 auto;
    scroll-margin-top: 60px;
} */
section{
    scroll-margin-top: 80px;
    min-height: 5em;
    padding: 100px 0.9%;
}
.col-lg-4{
    padding-bottom: 1rem;
}
.col-lg-6{
    padding-left: 0;
    padding-right: 0;
}
.col-lg-8{
    text-align: none;
}
#container-width{
    width: 60%;
}
.title-underline{
    font-family: 'Cabin', sans-serif;
    color: #e3e3e3;
    background-color: #211f2989;
    padding-inline: 5px;
    border-bottom: 1px solid var(--bs-gray);
    font-weight: 400;
    border-radius: 4px;
    font-size: 24px;
}
#home{
    padding-top: 10rem;
}
.home-content{
    font-size: 20px;
    /* width: 50%; */
    width: 90%;
    font-weight: 400;
}
.hi{
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight) !important;
}
#name{
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: mediumaquamarine;
}
.intro{
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight) !important;
}
.fa-laptop-code{
    color: var(--bs-gray);
}
#get-in-touch{
    background-color: var(--bs-light);
    color: var(--bs-primary);
    border-radius: 40px;
    /* font-size: x-small; */
    font-size: small;
    font-weight: 400;
    /* margin-top: 2rem; */
    margin-top: 1rem;
    margin-right: 1rem;
}
#get-in-touch:hover{
    background-color: var(--bs-dark);
    color: var(--bs-white);
    transition: all 0.5s ease-in-out;
}
#more-about-me{
    font-size: 12px;
    /* margin-left: 0.3rem; */
    border-bottom: 1px solid var(--bs-gray);
}
#more-about-me:hover{
    color: var(--bs-teal);
    font-size: 13px;
    /* border-bottom: 1px solid var(--bs-gray); */
    border-bottom: 1.2px solid var(--bs-gray);
    transition: all 0.5s ease-in-out;
    margin-left: 0.6rem;
}
.about{
    font-family: 'Montserrat', san
    s-serif;
    font-weight: 300;
    padding-left: 0;
    padding-top: 1rem;
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    /* padding: 25px; */
    /* padding: 15px; */
    padding: var(--bg-padding);
    /* border: 0.5px solid #eaebef0e; */
    border: 0.8px solid #eaebef10;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.about_pic img{
    margin-top: 2rem;
    opacity: 0.8;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	/* -webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0); */
    -webkit-transform: translate3d(0,0, 0);
	transform: translate3d(0,0,0);
}
.about_pic img:hover{
    opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	/* -webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0); */
    -webkit-transform: translate3d(0,-15px, 0);
	transform: translate3d(0,-15px,0);
}
.resume{
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    margin-bottom: 0 !important;
    color: var(--bs-light);
}
.skill{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 300; */
    font-weight: var(--font-weight) !important;
    padding-left: 0;
    padding-top: 1rem;
    /* border: 0.5px solid #a8b2d10e; */
    border: 0.8px solid #eaebef10;
    /* box-shadow: 0 10px 30px -15px var(--bg-shadow); */
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    /* padding: 25px; */
    /* padding: 15px; */
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#skill h6{
    padding-bottom: 0.5rem;
    color: var(--bs-light);
    font-weight: var(--font-weight) !important;
    font-size: var(--font-size);
}
.badge{
    color: var(--txt-color);
    font-weight: var(--font-weight) !important;
    margin: 1px;
    border: 1px solid rgb(52, 124, 163);
    border-radius: 10px;
}
.bi-arrow-right-short{
    color: #20c997;
}
/* Project */
.project{
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size);
    color: var(--txt-color);
    /* font-weight: 300; */
    font-weight: var(--font-weight) !important;
}
.project1{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 300; */
    font-weight: var(--font-weight);
    /* border: 0.5px solid #a8b2d10e; */
    border: 0.8px solid #eaebef10;
    /* box-shadow: 0 10px 30px -15px var(--bg-shadow); */
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    /* padding: 25px; */
    /* padding: 15px; */
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.project2{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 300; */
    font-weight: var(--font-weight) !important;
    /* border: 0.5px solid #a8b2d10e; */
    border: 0.8px solid #eaebef10;
    /* box-shadow: 0 10px 30px -15px var(--bg-shadow); */
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    /* padding: 25px; */
    /* padding: 15px; */
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.project3{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 300; */
    font-weight: var(--font-weight) !important;
    /* border: 0.5px solid #a8b2d10e; */
    border: 0.8px solid #eaebef10;
    /* box-shadow: 0 10px 30px -15px var(--bg-shadow); */
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    /* padding: 25px; */
    /* padding: 15px; */
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.project4{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 300; */
    font-weight: var(--font-weight) !important;
    /* border: 0.5px solid #a8b2d10e; */
    border: 0.8px solid #eaebef10;
    /* box-shadow: 0 10px 30px -15px var(--bg-shadow); */
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    /* padding: 25px; */
    /* padding: 15px; */
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.project5{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 300; */
    font-weight: var(--font-weight) !important;
    /* border: 0.5px solid #a8b2d10e; */
    border: 0.8px solid #eaebef10;
    /* box-shadow: 0 10px 30px -15px var(--bg-shadow); */
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    /* padding: 25px; */
    /* padding: 15px; */
    padding: var(--bg-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
.show-more-less{
    background-color: var(--bg-color) !important;
    color: var(--bs-teal) !important;
    border-radius: 20px !important;
    border-color: var(--bs-gray) !important;
    margin-left: 0.1rem;
    font-weight: 600 !important;
}
.show-more-less:hover{
    color: #4cf4c2 !important;
    border-color: var(--bs-teal) !important;
    transition: all 0.5s ease-in-out;
}
.high_light{
    font-size: small;
    color: #D0D4E7;
    font-size: 300;
}
.high_light span{
    margin-inline-end: 8px;
    border-bottom: 1px solid var(--bs-success);
}
.high_light_2{
    border-bottom: none !important;
}
.bi-arrow-up-right{
    color: var(--bs-gray) !important;
}
.links a{
    font-size: 16px;
    margin-left: 2px;
    margin-inline-end: 8px;
}
.links a:hover{
    color: #20c997;
}
.overview{
    color: #84e6c9;
    margin-top: 2rem;
}
/* Project Details Page */
#project-details{
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight) !important;
}
.project-details{
    border-radius: var(--border-radius);
    /* box-shadow: 0 10px 30px -15px var(--bg-shadow); */
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    background-color: var(--bg-color);
    /* border: 0.5px solid #a8b2d10e; */
    border: 0.8px solid #eaebef10;
    width: 65%;
    transition: var(--transition);
    position: relative;
    z-index: 2;
    /* padding: 25px; */
    /* padding: 15px; */
    padding: var(--bg-padding);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.1rem;
}
.project-details-title{
    /* padding-bottom: 2rem; */
    color: whitesmoke;
}
.project-details-title-2{
    padding-bottom: 1rem;
    font-size: small;
    font-style: italic;
}
.project-details-title span{
    border-bottom: 1px solid var(--bs-gray);
}
.project-details-content-tittle{
    /* color: #20c997; */
    /* color: #5dd0ad; */
    color: #78e8c6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    /* margin-top: 2rem; */
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
}
.learn{
    /* color: #20c997; */
    color: #78e8c6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.live-link{
    margin-right: 3px;
    /* margin-top: 1rem; */
    margin-top: 2rem;
    font-size: small;
}
.live-link:hover{
    color: var(--bs-light) !important;
}
.github-link{
    margin-left: 3px;
    /* margin-top: 1rem; */
    margin-top: 2rem;
}
.github-link:hover{
    color: var(--bs-light) !important;
}
.backtohome{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}
.backtohome:hover{
    color: var(--bs-white);
    border-bottom: 0.5px solid var(--bs-gray);
}
.bi-arrow-left{
    color: var(--bs-white);
    font-size: small;
}
/* Blog */
.blog{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 300; */
    font-weight: var(--font-weight) !important;
    /* box-shadow: 0 10px 30px -15px var(--bg-shadow); */
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    /* padding: 25px; */
    /* padding: 15px; */
    padding: var(--bg-padding);
    /* border: 0.5px solid #a8b2d10e; */
    border: 0.8px solid #eaebef10;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.lastest_post{
    color: var(--bs-light);
    border-bottom: 0.5px solid #ffffff;
}
/* Index Blog Main Page */
.view-all{
    font-size: small;
}
/* Blog Page Home */
#blog-home{
    padding-top: 8rem;
}
.blog_home_page_title{
    color: #ffffff;
}
.card{
    margin-bottom: 2rem;
    opacity: 80%;
}
h5{
    color: #212529;
}
.card-text{
    color: #112240;
}
.card-body p > a{
    font-family: 'Nunito Sans', sans-serif;
    color: var(--bs-dark);
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 14px;
    border: 1px solid var(--bs-gray);
}
.card-body p > a:hover{
    color: var(--bs-light);
    background-color: var(--bs-dark);
    transition: all 0.5sec ease-in-out;
}
#blog_list_img{
    height: 250px;
}
.first-blog-title{
    padding-top: 2rem;
}
.second-blog-title{
    padding-top: 1rem;
}
.third-blog-title{
    padding-top: 1rem;
    padding-bottom: 22rem;
}
.btn{
    font-size: small;
    background-color: #141626;
    margin-bottom: 2rem;
    border: 1px solid whitesmoke;
    border-radius: 60px;
    text-align: center;
}
.btn:hover{
    background-color: #25273b !important;
    border: 1px solid rgba(245, 245, 245, 0.861) !important;
}
/* Blog First Post Page */
#blog-first-post{
    padding-top: 8rem;
    background-color: #141626 !important;
}
#hr-post{
    color: #eaebeb;
}
#blog-title{
    text-align: justify;
    font-family: 'Poppins', sans-serif; 
    color: var(--bs-white);
}
.post-date{
    color: #ecececf8;
    font-size: small;
    font-family: 'Nunito Sans', sans-serif;
}
.post-date span{
    color: #ecececf8;
    font-family: 'Nunito Sans', sans-serif;
    border-bottom: 1px solid;
}
#post-content-head{
    font-size: 20px;
    color: var(--bs-light);
    font-family: 'Cabin', sans-serif;
}
#post-content{
    color: var(--txt-color);
    font-family: 'Montserrat', sans-serif;
}
#post-link{
    font-size: small;
    color: rgb(110, 209, 209);
}
#post-link:hover{
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid rgb(1, 167, 167);;
}
/* Second Post Page */
#blog-second-post{
    padding-top: 8rem;
    background-color: #141626 !important;
}
/* Third Post Page */
#blog-third-post{
    padding-top: 8rem;
    background-color: #141626 !important;
}
/* Contact  */
#contact{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 300; */
    font-weight: var(--font-weight);
}
.contact{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 300; */
    font-weight: var(--font-weight) !important;
    /* box-shadow: 0 10px 30px -15px var(--bg-shadow); */
    box-shadow: 0 0 30px -15px var(--bg-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    /* padding: 25px; */
    /* padding: 15px; */
    padding: var(--bg-padding);
    /* border: 0.5px solid #a8b2d10e; */
    border: 0.8px solid #eaebef10;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: var(--font-size);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.my_address{
    color: #F8F9FA;
}
.email_me{
    color: #F8F9FA;
}
.send_message{
    color: #F8F9FA;
}
.mailto{
    color: #D0D4E7;
}
.mailto:hover{
    color: var(--bs-light);
    border-bottom: 1px solid #d4d4d4;
    font-style: italic;
}
#contact_form-content{
    padding-top: 0;
    padding-bottom: 1rem;
}
.contact-form {
    max-width: 400px;
    margin-left: -0.6rem;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}
.contact-form input, .contact-form textarea{
    border: none;
    outline: none;
    font-size: 0.8rem;
    padding: 10px;
    background: #f8f8f82c;
    /* background: #2d303cb6; */
    border: 0.8px solid rgba(19, 19, 19, 0.763);
    /* border: 0.8px solid rgba(89, 89, 89, 0.824); */
    /* border-radius: 0px; */
    border-radius: 6px;
}
.contact-form .send-btn{
    width: 80px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px;
    background-color: var(--bs-light);
    color: var(--bs-primary);
    cursor: pointer;
    border: 0.8px solid var(--bs-white);
    border-radius: 40px;
}
.contact-form .send-btn:hover{
    color: var(--bs-white);
    background-color: var(--bs-dark);
    transition: all 0.5s ease-in-out;
}
#contact-form .name{
    color: mediumaquamarine;
}
#contact-form .email{
    color: mediumaquamarine;
}
#contact-form .message{
    color: mediumaquamarine;
}
/* Footer Social Links */
.footer_social_links_title{
    color: #84e6c9;
    margin-bottom: 2rem;
}
#footer_social_links{
    margin-bottom: 2rem;
    padding-inline: 2rem;
}
#footer_social_links a{
    color: #fafaff;
    padding: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #292741d8;
    border-radius: 30%;
    padding-inline: 6px;
    margin-inline: 3px;
}
#footer_social_links a:hover{
    background-color: #e0e0e0f5;
    color: #1f1f1f;
    border-bottom: none;
    transition: all 0.5s ease-in-out;
    margin-right: 1px;
}
/* Footer */
#footer{
    /* padding-top: 0; */
    /* padding-top: 0.5rem; */
    padding-top: 0.1rem;
    /* padding-bottom: 0.1rem; */
    padding-bottom: 0.8rem;
}
.hr-footer{
    color: var(--bs-gray);
    /* color: #141626 !important; */
    /* margin-left: 2.5rem;
    margin-right: 2.5rem; */
    /* margin-left: 2rem; */
    margin-left: 1.5rem;
    /* margin-right: 2rem; */
    margin-right: 1.5rem;
}
.footer a{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    /* font-size: 0.9rem; */
    font-size: 1rem;
    font-weight: 500;
    color: #cfcfcf;
    line-height: 0.99rem;
}
.footer a:hover{
    color: #84e6c9;;
    transition: all 0.5s ease-in-out;
}
/* #credit a{
    color: var(--bs-light);
}
#credit a:hover{
    color: rgba(240, 248, 255, 0.719);
    transition: all 0.5s ease-in-out;
} */
/* .version{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
} */
/* Back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    right: 45px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: rgba(58, 71, 91, 0.664);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
#myBtn:hover {
    background-color: rgba(107, 118, 134, 0.664);
}
/* Preloader */
#Preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #141626 !important;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
}
#Preloader img{
    width: 5rem;
}
.loader {
    visibility: hidden;
    opacity: 0;
}
/* 404 Html Page */
#error{
    padding-top: 8rem;
    padding-bottom: 28rem;
    color: var(--bs-light);
}
/* Media Query */
@media(max-width:992px){
    #container-width{
        width: 100%;
    }
    .home-content{
        width: 80%;
    }
    .footer p{
        text-align: center;
    }
    ul{
        margin-left: 5rem;
        margin-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .project-details{
        width: 92%;
        padding-top: 2rem;
    }
}

@media(max-width:576px) {
    body, html{
        font-size: 0.9rem;
        font-weight: 300;
    }
    ul{
        /* margin-left: 1rem;
        margin-right: 1rem; */
        margin-left: 2rem;
        margin-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    /* #container-width{
        width: 99%;
    } */
    .home-content{
        font-weight: 400;
        /* font-size: 1rem; */
        font-size: 1.1rem;
        width: 96%;
        margin-left: 1rem;
    }
    #get-in-touch{
        font-size: x-small;
    }
    #about h3{
        margin-left: 0;
    }
    .about_pic img{
        margin-top: 1rem;
    }
    #resume{
        text-align: center !important;
    }
    #skill h3{
        margin-left: 0;
    }
    .view-all a{
        font-weight: 400;
        font-size: small;
    }
    #blog-first-post, #blog-second-post, #blog-third-post{
        margin-right: 0rem;
    }
    .footer p{
        text-align: center;
    }
    #error{
        padding-top: 6rem;
        padding-bottom: auto;
    }
    #about h3, #skill h3, #project h3, #blog h3, #contact h3{
        text-align: center;
    }
    .show-more-less{
        font-size: 0.8rem
    }
    .project-details{
        width: 92%;
        padding-top: 2;
    }
}