@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Nunito', sans-serif; */

*{
    padding: 0;
    margin: 0;
}
body, html{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    color: #444452;
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    width: 100%;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
.navbar-brand{
   color: black;
}
.navbar-brand:hover{
    color: black;
    border-bottom: none;
}
.navbar-toggler{
    /* color: rgb(0 0 0 / 0%); */
    color: rgba(68, 68, 68, 0.107);
    border: 1px solid rgba(0, 0, 0, 0.655);
    border-radius: 4px;
    padding: 1px 2px 1px 2px;
}
.navbar{
    --bs-navbar-toggler-font-size: 1rem;
    --bs-navbar-toggler-border-radius: 0rem;
}
/* .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: rebeccapurple;
} */
.nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
}
.nav-link:hover{
    font-weight: 600;
    /* text-decoration: underline; */
    color: var(--bs-pink);
    border-bottom: none;
    transition: all 0.3s ease-in-out;
}
#p{
    color: #4b4b4b;
}
a {
    color: rgb(32, 32, 32);
    text-decoration: none;
}
a:hover {
    color: #0d6efd;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    /* border-bottom: 1px solid #00f; */
    border-bottom: 1px solid #0d6efd;
}
/* #header{
    background-color: rgb(39, 39, 39);
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
} */
/* #logo:hover{
    text-decoration: none;
}
hr{
    color: rgb(75, 75, 75);
}
.social-link a{
    color: #fff;
    margin: 4px;
    text-decoration: none;
}
.social-link a:hover{
    color: #c7c7c7f7;
    text-decoration: none;
    border-bottom: none;
} */
/* section{
    padding: 50px 8%;
    padding: 90px 10%;
    margin: 0 auto;
    scroll-margin-top: 60px;
} */
section{
    /* scroll-margin-top: 50px; */
    /* padding: 0.25em; */
    /* margin-bottom: 10em; */

    scroll-margin-top: 70px;
    min-height: 5em;
    padding: 50px 4%;
}
#intro{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#home{
    padding-top: 10rem;
}
#get-in-touch{
    background-color: var(--bs-yellow);
    color: #000;
    border-radius: 10px;
}
#get-in-touch:hover{
    background-color: var(--bs-orange);
    transition: all 0.5s ease-in-out;
}
.col-lg-4{
    padding-bottom: 1rem;
}
.col-lg-8{
    text-align: none;
}

#about h3, #skill h3, #project h3, #blog h3, #contact h3{
    color: #007bff;
}
.container{
    width: 100%;
}
.img-fluid{
    border-radius: 50%;
    height: 150px;
    width: auto;
}
.hello{
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: rgb(65, 65, 65);
}
.name{
    color: rgb(112, 112, 112);
    font-size: 1.5rem;
}
.home-content{
    padding-top: 30px;
    color: #333333ba;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    width: 50%;
}
.fa-laptop-code{
    color: #333333ba;
}
.fa-hand-point-right{
    color: rgb(219, 156, 74);
}
#get-in-touch{
    font-size: small;
    font-weight: 400;
    margin-top: 2rem;
}
#get-in-touch a{
    color: rgb(17, 59, 158);
    text-decoration: none;
}
#get-in-touch a:hover{
    cursor: pointer;
    transition: all 0.5sec ease-in-out;
}

.badge{
    background: var(--bs-light);
    color: var(--bs-dark);
    font-size: 500;
    margin: 4px;
    border: 1px solid rgb(52, 124, 163);
    border-radius: 5rem;
}
/* Contact  */
.fa-location-arrow{
    font-size: small;
}
#contact_form-content{
    padding-top: 0;
    padding-bottom: 1rem;
}
.contact-form {
    max-width: 400px;
    margin-left: -1rem;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}
.contact-form input, .contact-form textarea{
    /* border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 10px;
    color: black;
    background: #f8f8f8;
    border-radius: 0.4rem; */
    border: none;
    outline: none;
    font-size: 0.8rem;
    padding: 10px;
    color: black;
    /* background: #f8f8f8; */
    background: #f8f8f82c;
    border: 0.5px solid rgba(19, 19, 19, 0.763);
    border-radius: 0;
}
.contact-form .send-btn{
    /* width: 100px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px;
    background: var(--main-color);
    cursor: pointer; */
    width: 80px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px;
    background: var(--main-color);
    cursor: pointer;
}
.contact-form .send-btn{
    /* border-radius: 10px;
    color: white;
    background: #7c7c7c; */
    border: 0.5px solid rgba(19, 19, 19, 0.763);
    border-radius: 0;
}
.contact-form .send-btn:hover{
    /* background: #546eff9a;
    transition: 0.3s all linear ; */
    color: #f8f8f8;
    background: #0202029a;
    transition: 0.3s all linear ;
}
/* Blog Main Page */
.view-all{
    font-size: small;
}
/* Blog Page Home */
#blog-home{
    padding-top: 8rem;
}
.card{
    margin-bottom: 2rem;
}
#blog_list_img{
    height: 250px;
    /* width: auto; */
    width: 250px;
}
.fa-arrow-down{
    font-size: small;
    font-weight: 100;
    color: #6610f2;
}
.first-blog-title{
    padding-top: 2rem;
}
  .second-blog-title{
    padding-top: 1rem;
}
  .third-blog-title{
    padding-top: 1rem;
    padding-bottom: 22rem;
}
.btn{
    font-size: small;
    color: #f8f9fa;
    background-color: rgb(7, 89, 161);
    margin-bottom: 2rem;
    border-color: #444452;
    border-radius: 5px;
}
/* Blog First Post Page */
#blog-first-post{
    padding-top: 8rem;
}
#hr-post{
    color: #343a40;
}
#blog-title{
    text-align: justify;
    font-family: 'Poppins', sans-serif; 
}
.post-date{
    font-size: small;
    color: #7c7c7c;
}
.post-date span{
    border-bottom: 1px solid;
    color: #7c7c7c;
}
#post-content{
    color: #5c5c5c;
}
#post-link{
    font-size: small;
    color: teal;
}
#post-link:hover{
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid teal;
}
#post-content-head{
    color: #000;
}
/* Second Post Page */
#blog-second-post{
    padding-top: 8rem;
}
/* Third Post Page */
#blog-third-post{
    padding-top: 8rem;
}
/* Online Presence */
#online{
    color: #007bff;
    margin-bottom: 0.5em;
}
#social-links a{
    color: rgba(96, 96, 96, 0.986);
    padding: 0.1rem;
    font-size: small;
    font-weight: 400;
}
#social-links a:hover{
    color: #000;
    font-weight: 500;
    border-bottom: none;
}
/* Footer */
#footer{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.hr-footer{
    color: #000;
}
.footer p{
    font-family: 'Nunito', sans-serif;
    font-size: small;
    font-weight: bold;
    color: #6c6c6c;
    line-height: 0.2rem;
}
/* Back to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: rgba(30, 60, 210, 0.674);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
#myBtn:hover {
    background-color: rgba(85, 85, 85, 0.795);
}
.about{
    padding-left: 0;
}
.skill{
    padding-left: 0;
}
/* Preloader */
#Preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
}
#Preloader img{
    width: 5rem;
}
.loader {
    visibility: hidden;
    opacity: 0;
}
/* 404 Html Page */
#error{
    padding-top: 8rem;
    padding-bottom: 25rem;
}
/* Media Query */
@media(max-width:992px){
    .view-all{
        font-size: small;
    }
    #about h3, #skill h3, #project h3, #blog h3, #contact h3{
        text-align: left;
    }
    #about h3{
        margin-left: -0.8rem;
    }
    #skill h3{
        margin-left: -0.6rem;
    }
    #project h3, #blog h3, #contact h3{
        margin-left: -0.2rem;
    }
    .footer p{
        text-align: center;
    }
}

@media(max-width:576px) {
    .name{
        font-weight: 400;
        font-size: medium;
    }
    .home-content{
        font-weight: 400;
        font-size: medium;
        width: 96%;
    }
    .view-all a{
        font-weight: 400;
        font-size: small;
    }
    .footer p{
        text-align: center;
    }
    #about h3, #skill h3, #project h3, #blog h3, #contact h3{
        text-align: left;
    }
    .about, .skill, .project, .blog, .contact{
        margin-left: 0.5rem;
    }
    ul{
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 1rem;
    }
    #blog-first-post, #blog-second-post, #blog-third-post{
        margin-right: 0.5rem;
    }
    #error{
        padding-top: 8rem;
        padding-bottom: 15rem;
    }
}


